body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    font-size: large;
}

header {
    background-color: #003B6D;
    color: white;
    padding: 10px 20px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

header img {
    width: 128px;
    height: 128px;
    margin-right: 20px;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #6699cc;
    /* Blue Sky on hover */
}

main {
    padding: 20px;
}

footer {
    background-color: #003B6D;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Image styling */
.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    
}

.images img {
    width: 30%;
    border-radius: 5px;
}

/* Input styling */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

input[type="submit"] {
    background-color: #003B6D;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #6699cc;
}

